.vansh {
    background-color: red;
    text-decoration-color: black;
}

.aditya {
    background-color: blanchedalmond;
    text-decoration-color: black;
}

.azeem {
    background-color: bisque;
    text-decoration-color: black;
    text-decoration-style: solid;
}